<a href="https://colab.research.google.com/github/LeeIvanTitong/VDA-CpE-031-CpE21S4/blob/main/Exercise_No_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1). Variables and Data Types**

In [ ]:
#Numbers
vartium = 123
pi = 3.14159

In [ ]:
#Numbers
vartium = 123
pi = 3.14159

In [ ]:
#Strings
varString = "Hello World!"
varText = 'This is a String'

In [ ]:
#Lists
varList=["abc",123]

In [ ]:
#Tuples
varTuple = 'abc',123,"HELLO"

In [ ]:
#Dictionaries
var=3
varDict = {'first':1,'2':'2nd',3:var}

In [ ]:
varDict ={}
varDict['first'] = 1
varDict['2'] = '2nd'
varDict[3] = var

# **2). Arithmethic**

In [ ]:
#Addition
a = 5 + 3
print(a)

8

In [ ]:
#Subtraction
a= 5 - 3
print(a)

2

In [ ]:
#Multiplication
a = 5 * 3
print(a)

15

In [ ]:
#Division
a = 5 / 3
print(a)

1.6666666666666667

In [ ]:
#Modulus
a = 5 % 3
print(a)

In [ ]:
#Increment/Decrement
a = 5
a += 1
print(a)

a = 5
a -= 1
print(a)

a = 5
a *= 2
print(a)

a = 5
a /= 2
print(a)

In [ ]:
#Decrement
a=5
a -= 1
print(a)

In [ ]:
#String Concatenation
a='Hello' + ' ' + 'World'

In [ ]:
#Complex Expressions
a=3+5-6*2/4

# **3). Conditional Statements**

In [ ]:
#Boolean Conditions
x=True
y=False

In [ ]:
#If Statement
if x:
  print("x is True")

In [ ]:
#If Else Statement
if x:
  print("x is True")
else:
  print("x is False")

In [ ]:
#String Conditions
x = "Hello World"
if "Hello" in x:
  print("Hello is in x")
else:
  print("Hello is not in x")

In [ ]:
#Numerical Conditions
x = 5
if x == 5:
  print("x is 5")
else:
  print("x is not 5")

In [ ]:
#Multiple Conditions
x = 5
y = 10
if x == 5 and y == 10:
  print("x is 5 and y is 10")
else:
  print("x is not 5 or y is not 10")

# **4).Loops**

In [ ]:
# prompt: #For loops

#For loops
for i in range(5):
  print(i)

#Looping through a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)

#Nested loops
for i in range(3):
  for j in range(2):
    print(i, j)

#Loop control statements
for i in range(10):
  if i == 5:
    break
  print(i)

for i in range(10):
  if i == 5:
    continue
  print(i)

In [ ]:
#For Loops
for var in range(0,5,2):
  print(var)

0
2
4

In [ ]:
#While Loops
var = 0
while var < 5:
  print(var)
  var += 2

0
2
4

In [ ]:
#Nested Loops Generated
x=0
while x<5:
  y=0
  while y<5:
    print(x,y)
    y+=1
  x+=1

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

In [ ]:
from re import X
#Nested Loops
x=0
while x<5:
  for y in range(0,x):
    print(y, end='')
  x+=1
  print()
  x+=1

01
0123

# **5). Tuples**

#**6).Lists**

In [ ]:
pi = 3.14159
varList = [1,2,'A','B','Hello',pi]
print(varList[0])

1

In [ ]:
print(varList[4])

Hello

In [ ]:
varList.append('World')
print(varList[6])

World

In [ ]:
len(varList)

7

In [ ]:
print(varList[5])

In [ ]:
varList.remove(pi)
print(varList[5])

#  **7).Dictionary**

In [ ]:
var ="Hello World!"
varDict = {'first' : 123, 2 : 'abc', '3' : var, 4 : ['a','b','c']}
print(varDict['first'])

123

In [ ]:
print(varDict[2])

abc

In [ ]:
print(varDict['3'])

Hello World!

In [ ]:
print(varDict[4])

['a', 'b', 'c']

In [ ]:
print(varDict[4][1])

b

In [ ]:
len(varDict)

3

# **8). List Generators and Comprehension**

In [ ]:
def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num
    num += 1

In [ ]:
gen_num_up_to(5)

**Note: This creates an object**

In [ ]:
varList = gen_num_up_to(5)
print([var for var in varList])

In [ ]:
def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num
    num += 2

varList = gen_num_up_to(5)
print([var for var in varList])

[0, 1, 2, 3, 4]

In [ ]:
varList = range(0,5,2)
print([var for var in varList])

[0, 2, 4]

**Note: Python's built in range function range([start],stop,[step])**

## **Slicing**

In [ ]:
varList = [1,2,3,4,5,6,7,8,9,10]
print(varList[:5])

[1, 2, 3, 4, 5]

In [ ]:
print(varList[5:])

[6, 7, 8, 9, 10]

In [ ]:
print(varList[:-2])

In [ ]:
print(varList[-2:])

range(2, 6, 2)

In [ ]:
print(varList[2:-2])

[3, 4, 5, 6, 7, 8]

In [ ]:
print(varList[2:8:2])

[3, 5, 7]

**Note: list(start:)
        list(:end)
        list(start :end)
        list(start:end:step)**

# **9).Functions**

In [ ]:
def remainder(n,m):
  while True
    if n-m<0:
      return n
    else
      n=n-m
remainder(10,4)